.block-buttons {
    .btn {
        display: inline-flex;
        margin-left: 20px;
        padding: 5px 20px;
        border-radius: 30px;
        transition: all 150ms ease;
        &.btn-blue {
            color: #007bff;
            border: 1px solid #007bff;
            &:hover {
                color: #fff;
                background: #007bff;
            }
        }
        &.btn-gray {
            color: #6c757d;
            border: 1px solid #6c757d;
            &:hover {
                color: #fff;
                background: #6c757d;
            }
        }
        .icon {
            margin-right: 5px;
        }
    }
}
